html, body {
display:flex;
align-items: center;
justify-content: center;
height:100%;
margin:0;
}



#form-div form{
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    padding:30px;
    width:300px;
    gap:30px;
    height:auto;
    

    border-radius:12px;

}

form label{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


form > p{
    text-align: center;
}
